.nimmu-card-body {
  position: relative;
  left: 22.5%;
}
.tab-content {
  position: relative;
  width: 66.5%;
}
.nimmu-card-tabs .nav-tabs {
  border-bottom: none;
}

.nimmu-card-tabs .nav-pills .nav-link.active,
.nimmu-card-tabs .nav-pills .nav-link,
.nimmu-card-tabs .nav-tabs .nav-link {
  border-radius: 0;
  background: #3c54db;
  color: #fff;
  padding: 15px 10px;
  text-transform: capitalize;
}

.nimmu-card-tabs .nav-pills .nav-link {
  background: #fafafa;
  color: #212121;
}

.nimmu-card-tabs .nav-pills .nav-link,
.nimmu-card-tabs .nav-tabs .nav-link,
.nimmu-card-tabs .nav-tabs .nav-link.active {
  border: none;
}

.nimmu-card-tabs .nav {
  justify-content: space-between;
  flex-wrap: wrap;
}

.nimmu-card-tabs .nav-pills {
  border-bottom: 1px solid #f0f0f0;
}

.nimmu-card-tabs .nav-pills .nav-item,
.nimmu-card-tabs .nav-tabs .nav-item {
  width: 33.33%;
  text-align: center;
}

.nimmu-card-tabs .nav-tabs .nav-link.active {
  position: relative;
}

.nimmu-card-tabs .nav-tabs .nav-link.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #f50057;
  left: 0;
  top: 96%;
}

.nimmu-card-tabs .tab-pane {
  background: #fafafa;
  padding: 30px;
  font-size: 18px;
}

.nimmu-btn-collapse {
  width: 100%;
  text-align: left;
  position: relative;
  border-radius: 0 !important;
}

.nimmu-btn-collapse::after {
  position: absolute;
  content: "\f107";
  font-family: fontawesome;
  top: 21%;
  right: 15px;
  transform: translate(-50%);
  font-size: 22px;
}

.nimmu-collapse-area li:not(:last-child) {
  margin-bottom: 10px;
}

.nimmu-collapse-body {
  border-radius: 0;
  border: none;
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
}
