.item-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.item1 {
  display: inline-block;
  position: relative;
  top: -20%;
  padding: 10px;
}

.item2 {
  display: inline-block;
  position: relative;
  padding: 10px;
}
