.nimmu-trafic-area {
  margin-top: 30px;
  position: relative;
}
.default-card {
  background: #ffffff;
  min-height: 120px;
  border-radius: 9px;
  padding: 25px 30px;
  transition: all 0.4s ease-in-out 0s;
  box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.06);
}

.card-header {
  background: transparent;
  position: absolute;
  margin-left: 1rem;
  border-bottom: none;
}
.card-header h3 {
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 800;
}
.table-responsive table thead tr th {
  font-size: 15px;
  padding: 0px 20px 10px;
  text-align: left;
  font-weight: 700;
  color: #2a2a2d;
  line-height: 20px;
  border-bottom: none;
}

.table-responsive .table.table-striped tbody tr:nth-child(odd) {
  background: #fafafe !important;
}

.table-responsive table tbody tr td {
  height: 60px;
  line-height: 60px;
  color: #676b79 !important;
  padding: 0px 20px !important;
  font-size: 14px !important;
  border-bottom: none !important;
}
.nimmu-btn-text-success {
  background: transparent;
  border: none;
  color: #02ae14;
}

.nimmu-btn-text-danger {
  background: transparent;
  border: none;
  color: #ff3737;
}
